@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <span>
        <img class="img-fluid" src="https://cdn-cashy-static-assets.lucidchart.com/lucidspark/marketing/pages/consideration/hero-images/consideration-online-sticky-note-2009.png" alt="">
    </span>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>